//------PHOTO STUDIO
.photo-studio-holder
	width:100%
	height: 100%
	overflow: hidden
	//PLACEHOLDER TODO
	.button-holder
		position: absolute
		bottom: 3rem
		width: 100%
		text-align: center
		color: red


.photo-studio-container
	display: flex
	flex-flow: column
	height: 100%
	position: relative
	top: 0px
	transition: top 1s
	h3
		text-align: center
		margin-top: 0


.photo-studio-main
	background: url(none) no-repeat center center 
	background-size: cover
	width: 100%
	aspect-ratio: 1 / 1

.photo-studio-controls
	border-radius: 0px 0px $border-rad $border-rad

.slider-control
	height: 14px
	position: relative

.photo-grid
	width: 100%
	display: flex
	margin-bottom: 15px
	> div
		background: url(none) no-repeat center center 
		background-size: cover
		aspect-ratio: 1 / 1
		display:block
		&.selected-pic
			position: relative
			&:before
				content: ''
				border: 2px solid black
				width: 100%
				height: 100%
				display: block
				position: absolute
				left: -2px
				top: -2px