/* CUSTOM STORY STYLE */

body
	background: rgb(245,241,249)
	background: -moz-radial-gradient(circle, rgba(245,241,249,1) 0%, rgba(245,249,250,1) 90%, rgba(250,249,247,1) 100%)
	background: -webkit-radial-gradient(circle, rgba(245,241,249,1) 0%, rgba(245,249,250,1) 90%, rgba(250,249,247,1) 100%)
	background: radial-gradient(circle, rgba(245,241,249,1) 0%, rgba(245,249,250,1) 90%, rgba(250,249,247,1) 100%)

*
	box-sizing: border-box

h1
	font-family: $lyon
	set-type-size(xxxx-large, true)

h2
	font-family: $lyon
	set-type-size(xx-large, true)

h3
	font-family: 'DM Sans', sans-serif
	font-weight: 500
	set-type-size(root, true)

p, li
	font-family: 'DM Sans', sans-serif
	font-weight: 400

.heavier
	font-weight: 500

.all-caps
	text-transform: uppercase

.single-col
	margin: 0 auto
	max-width: $single-col
	h3
		text-transform:uppercase

#content
	max-width: $main-width
	margin:0 auto
	padding: 0 25px
	> *:not(.menu-holder)
		margin-left: auto
		margin-right: auto

.wide-block
	max-width: $wide-width
	text-align: left
	h1
		margin: 3.125rem 0px 0px 0px
	+mq('bp-4')
		text-align: center

.story-pic
	margin: 1.85rem auto
	.feature-content
		background-color: #FFFFFF
		border: #F9F9F9 5px solid
		margin-top: 1.5rem
		width: 350px
		height: 700px
		margin: 0 auto
		border-radius: 30px
		box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3)
		padding: 2.85rem 1rem

section
	width: auto
	> div h2
		margin-top: 5rem
	> div h3
		margin-top: 5rem
	> *
		margin-left: auto
		margin-right: auto

.story-block
	display: grid
	grid-template-columns: auto
	grid-template-rows: min-content min-content min-content
	grid-template-areas: "instructions" "pic" "text"
	.story-text
		grid-area: text
	.story-pic
		grid-area: pic
	.instructions
		margin: 2rem auto
		grid-area: instructions
		p
			font-family: $lyon
			font-size: 22px
			line-height: 1.4
			margin: 0px
	.feature-content
		width: 350px
		height: 700px
	+mq('bp-4')
		grid-template-columns: auto auto
		grid-template-rows: min-content 100%
		grid-template-areas: "pic instructions" "pic text"
		grid-column-gap: 2 rem
		.feature-content
			width: 300px
			height: 600px
		.instructions
			margin: 2rem 0px
	+mq('bp-5')
		grid-column-gap: 3 rem
		.feature-content
			width: 350px
			height: 700px

.drk-gray
	color: $gray-dark

.demo-header
	p
		text-align: center
		margin: 1rem
		font-weight: 500

.demo-body
	background-color: $story-gray-light
	border: 1px solid $story-gray-mid
	border-radius: $border-rad
	padding: 0.75rem 1rem 0.25rem 1rem
	flex: 1 0
	overflow-y: auto
	height: 0px

.circle-icon-btn
	height: 50px
	aspect-ratio: 1/1
	border-radius: 50%
	background-color: unset
	border: 1px solid $gray
	svg
		width: 20px
		height: 100%

.nav-button
	text-align: right
	margin-top: 2rem
	p
		font-family: $lyon
		border-bottom: 1px solid $gray-dark
		color: $gray-dark
		set-type-size(small, false)
		line-height: 1.25
		display: inline-block
		cursor: pointer
		&:hover
			color $fg

.closed:not(.toggler)
	display: none

.fade-in {
	animation: fadeIn linear 1.5s
	-webkit-animation: fadeIn linear 1.5s
	-moz-animation: fadeIn linear 1.5s
	-o-animation: fadeIn linear 1.5s
	-ms-animation: fadeIn linear 1.5s
}

@keyframes fadeIn {
	0% {opacity:0}
	100% {opacity:1}
}

@-moz-keyframes fadeIn {
	0% {opacity:0}
	100% {opacity:1}
}

@-webkit-keyframes fadeIn {
	0% {opacity:0}
	100% {opacity:1}
}

@-o-keyframes fadeIn {
	0% {opacity:0}
	100% {opacity:1}
}

@-ms-keyframes fadeIn {
	0% {opacity:0}
	100% {opacity:1}
}
