/* CUSTOM STORY STYLE */

// Story Cols
$story-gray-light = #F0F0F0
$story-gray-mid = #E8E8E9
$border-rad = 6px
$main-width = 50em
$title-width = 40em
$single-col = 30em
$menu-width-des = 65em
$menu-width-tab = 45em

body
	background: rgb(245,241,249)
	background: -moz-radial-gradient(circle, rgba(245,241,249,1) 0%, rgba(245,249,250,1) 90%, rgba(250,249,247,1) 100%)
	background: -webkit-radial-gradient(circle, rgba(245,241,249,1) 0%, rgba(245,249,250,1) 90%, rgba(250,249,247,1) 100%)
	background: radial-gradient(circle, rgba(245,241,249,1) 0%, rgba(245,249,250,1) 90%, rgba(250,249,247,1) 100%)

*
	box-sizing: border-box

h1
	font-family: $lyon
	set-type-size(xxxx-large, true)

h2
	set-type-size(xx-large, true)

h3
	font-family: 'DM Sans', sans-serif
	font-weight: 500
	set-type-size(root, true)

p
	font-family: 'DM Sans', sans-serif
	font-weight: 400

span
	font-family: 'DM Sans', sans-serif
	font-weight: 400

.heavier
	font-weight: 500

.all-caps
	text-transform: uppercase

.single-col
	max-width: $single-col
	> h3
		text-transform:uppercase

#content
	max-width: $main-width
	margin:0 auto
	padding: 0 25px
	> *:not(.menu-holder)
		margin-left: auto
		margin-right: auto

.title-block
	max-width: $title-width
	text-align: center
	h1
		margin: 3.125rem 0px

.story-pic
	margin: 2rem auto
	.feature-content
		background-color: #FFFFFF
		border: #F9F9F9 5px solid
		margin-top: 1.5rem
		width: 350px
		height: 700px
		margin: 0 auto
		border-radius: 30px
		box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3)
		padding: 3rem 1rem

section
	width: auto
	> div h2
		margin-top: 5rem
	> *
		margin-left: auto
		margin-right: auto

.story-block
	display: grid
	grid-template-columns: auto
	grid-template-rows: min-content min-content min-content
	grid-template-areas: "instructions" "pic" "text"
	.story-text
		grid-area: text
	.story-pic
		grid-area: pic
	.instructions
		margin: 2rem auto
		grid-area: instructions
		p
			font-family: $lyon
			font-size: 22px
			line-height: 1.4
			margin: 0px
	.feature-content
		width: 350px
		height: 700px
	+mq('bp-4')
		grid-template-columns: auto auto
		grid-template-rows: min-content 100%
		grid-template-areas: "pic instructions" "pic text"
		grid-column-gap: 2 rem
		.feature-content
			width: 300px
			height: 600px
		.instructions
			margin: 2rem 0px
	+mq('bp-5')
		grid-column-gap: 3 rem
		.feature-content
			width: 350px
			height: 700px

.demo-header
	p
		text-align: center
		margin: 1rem
		font-weight: 500

.demo-body
	background-color: $story-gray-light
	border: 1px solid $story-gray-mid
	border-radius: $border-rad
	padding: 1 rem
	flex: 1 0
	overflow-y: auto
	height: 0px

.circle-icon-btn
	height: 50px
	aspect-ratio: 1/1
	border-radius: 50%
	background-color: unset
	border: 1px solid $gray
	svg
		width: 20px
		height: 100%

.fade-in {
  animation: fadeIn linear 1.5s;
  -webkit-animation: fadeIn linear 1.5s;
  -moz-animation: fadeIn linear 1.5s;
  -o-animation: fadeIn linear 1.5s;
  -ms-animation: fadeIn linear 1.5s;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}



//------MENU

.menu-holder
	display: grid
	column-gap: 1.5rem
	row-gap: 3rem
	width: 100%
	max-width: 30rem
	grid-template-columns: 1fr
	grid-template-rows: 1fr 1fr 1fr 1fr
	margin: 0 auto
	+mq('bp-5')
		width: $menu-width-tab
		max-width: $menu-width-tab
		margin: 3rem auto 5rem auto
		grid-template-columns: 1fr 1fr
		grid-template-rows: 1fr 1fr
	+mq('bp-7')
		width: $menu-width-des
		max-width: $menu-width-des
		margin-left: "calc((%s - %s)/2 * -1)" % ($menu-width-des $main-width)
		grid-template-columns: 1fr 1fr 1fr 1fr
		grid-template-rows: 1fr

.menu-item
	h3
		white-space: break-spaces;
	  word-wrap: break-word;

.menu-item-wrapper
	padding: 0.75rem
	border-radius: 20px
	&:hover
		background-color: rgba(0, 0, 0, 0.1)
	display: grid
	grid-template-columns: auto auto min-content min-content
	grid-template-rows: min-content 2fr min-content
	grid-template-areas: "price price pic pic" "description description description description" "button button button ."
	.menu-descrip
		height: 150px
		overflow: hidden
		-webkit-mask-image: linear-gradient(to bottom, black 50%, transparent 100%)
  	mask-image: linear-gradient(to bottom, black 50%, transparent 100%)
		p
			set-type-size(root, false)
			line-height: 1.4
	+mq('bp-7')
		grid-template-areas: "price price pic pic" "description description description description" "button button button button"
	.price-holder
		padding-right: 1rem
		grid-area: price
		p, h3
			margin: 0px
		p.price
			set-type-size(xxxx-large, false)
			font-weight: 500
			line-height: 52px
		p.duration
			set-type-size(small, false)
	.menu-pic
		grid-area: pic
		+mq('bp-7')
				width:150px
		img
			width: auto
			height:200px
			+mq('bp-7')
				height:100px
	.menu-descrip
		grid-area: description
	.menu-button
		grid-area: button
		font-family: 'DM Sans', sans-serif
		set-type-size(x-small, false)
		> div
			width: fit-content
			background-color: unset
			border: 2px solid $gray
			border-radius: 20px
			padding: 10px 20px
			a
				border-bottom: none

//------RESUME
#resume
	.pos-grid
		display: grid
		grid-auto-flow: column
		grid-template-columns: min-content auto
		margin-bottom: 0.5rem
	.resume-controls
		display: grid
		grid-auto-flow: column
		grid-template-columns: auto min-content
		column-gap: 1rem
	p
		set-type-size(small, true)
	h4, h5, p
		margin: 0
	.work
		margin-bottom: 2rem
	h3
		font-weight: bold
		font-family: 'DM Sans', sans-serif
		set-type-size(medium, false)
	h4
		font-weight: 500
		font-family: 'DM Sans', sans-serif
		set-type-size(root, true)
		line-height: "calc(%s * 0.875)" % ($type-size.root.line-height)
	h5, li
		font-weight: 400
		font-family: 'DM Sans', sans-serif
		set-type-size(small, true)
	.years
		h5
			white-space: nowrap
			padding-right: 0.5rem
	ul
		padding-left: 1.5rem
	li
		list-style-type: disc



//------THOUGHT LEADERSHIP
#thought-leadership, #resume
	display: flex
	flex-flow: column
	row-gap: 1rem

.deepwork-social
	width: 100%
	display: grid
	grid-template-columns: 50px auto
	p:first-of-type
		font-weight: bold
		margin: 0px
	p:nth-of-type(2)
		font-weight: 500
		set-type-size(small, true)
		margin: 0.5rem 0

.social-icon
	text-align: center
	width: 80%;

.impact-icons
	float: left
	margin-bottom: 1.5rem
	vertical-align: middle
	img
		width: 14px
		height: 14px
		vertical-align: middle
		display: inline
	span
		margin-right: 1rem
		vertical-align: middle
		set-type-size(small, true)

//------PHOTO STUDIO
.photo-studio-holder
	width:100%
	height: 100%
	overflow: hidden
	//PLACEHOLDER TODO
	.button-holder
		position: absolute
		bottom: 3rem
		width: 100%
		text-align: center
		color: red


.photo-studio-container
	display: flex
	flex-flow: column
	height: 100%
	position: relative
	top: 0px
	transition: top 1s
	h3
		text-align: center
		margin-top: 0


.photo-studio-main
	background: url(none) no-repeat center center 
	background-size: cover
	width: 100%
	aspect-ratio: 1 / 1
	border-radius: $border-rad $border-rad 0px 0px

.photo-studio-controls
	border-radius: 0px 0px $border-rad $border-rad
	datalist
		display: flex
		font-family: 'DM Sans', sans-serif
		justify-content: space-between
		set-type-size(small, true)
		font-weight: 500
		option
			font-weight: 500
	input[type=range]
		width: 100%

.photo-grid
	width: 100%
	display: flex
	margin-bottom:0.5rem
	> div
		background: url(none) no-repeat center center 
		background-size: cover
		aspect-ratio: 1 / 1
		display:block
		&.selected-pic
			position: relative
			&:before
				content: ''
				border: 2px solid black
				width: 100%
				height: 100%
				display: block
				position: absolute
				left: -2px
				top: -2px

