/* CUSTOM STORY STYLE */

body
	background: rgb(245,241,249)
	background: -moz-radial-gradient(circle, rgba(245,241,249,1) 0%, rgba(245,249,250,1) 90%, rgba(250,249,247,1) 100%)
	background: -webkit-radial-gradient(circle, rgba(245,241,249,1) 0%, rgba(245,249,250,1) 90%, rgba(250,249,247,1) 100%)
	background: radial-gradient(circle, rgba(245,241,249,1) 0%, rgba(245,249,250,1) 90%, rgba(250,249,247,1) 100%)

*
	box-sizing: border-box

h2
	set-type-size(xx-large, true)
p
	font-family: sans-serif

.all-caps
	text-transform: uppercase

#content
	max-width: 65rem
	margin:0 auto
	padding: 0 25px

.story-pic
	margin: 0 auto
	.feature-content
		background-color: #FFFFFF
		border: #F9F9F9 5px solid
		margin-top: 1.5rem
		width: 350px
		height: 700px
		margin: 0 auto
		border-radius: 30px
		box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3)
		padding: 3rem 1rem

.story-block
	margin-top: 5rem
	p:first-of-type
		text-transform: uppercase
		set-type-size(small, false)
	display: block
	+mq('bp-3')
		.feature-content
			width: 350px
			height: 700px
	+mq('bp-4')
		display: grid
		grid-template-columns: auto auto
		grid-template-areas: "pic text"
		.story-text
			grid-area: text
			margin-left: 2 rem
		.story-pic
			grid-area: pic
		.feature-content
			width: 300px
			height: 600px
	+mq('bp-5')
		.story-text
			margin-left: 3 rem
		.feature-content
			width: 350px
			height: 700px
