//------THOUGHT LEADERSHIP
#thought-leadership, #resume
	display: flex
	flex-flow: column
	row-gap: 1rem

.deepwork-social
	width: 100%
	display: grid
	grid-template-columns: 50px auto
	p:first-of-type
		font-weight: bold
		margin: 0px
	p:nth-of-type(2)
		font-weight: 500
		set-type-size(small, true)
		margin: 0.5rem 0

.social-icon
	text-align: center
	width: 80%

.impact-icons
	float: left
	margin-bottom: 1.5rem
	vertical-align: middle
	img
		width: 14px
		height: 14px
		vertical-align: middle
		display: inline
	span
		margin-right: 1rem
		vertical-align: middle
		set-type-size(small, true)