<div class="about">
	<h1>{{about.title}}</h1>
	{{> story/about-intro content=about.intro}}
	<h2>{{about.subtitle}}</h2>
	{{> story/about-block content=about.resume}}
	{{> story/about-block content=about.photo}}

	<div class="toggler single-col closed beauty-ai">
		<img src="assets/images/svgs/chevron-right.svg"/>
		<p>
			<span>Read </span>
			<span class="phrase">more</span>
			<span> about bias in beauty AI</span>
		</p>
	</div>

	<div class="toggled closed beauty-ai">
		{{> story/about-block content=about.photo-more}}
	</div>

	{{> story/about-block content=about.thought-leadership}}
	{{> story/about-block content=about.video-call}}
</div>
