<h2 id="about-us">{{about.title}}</h2>
{{> story/about-intro content=about.intro}}
<h2>{{about.subtitle}}</h2>
{{> story/about-block content=about.resume}}
{{> story/about-block content=about.photo}}

<div class="single-col">
	<button role="button" class="toggler closed beauty-ai" aria-expanded="false" aria-controls="more-beauty">
		<img src="assets/images/svgs/chevron-right.svg" alt=""/>
		<p>
			<span>Read </span>
			<span class="phrase">more</span>
			<span> about bias in beauty AI</span>
		</p>
	</button>

	<div class="toggled closed beauty-ai" id="more-beauty">
		{{> story/about-block content=about.photo-more}}
	</div>
</div>

{{> story/about-block content=about.thought-leadership}}
{{> story/about-block content=about.video-call}}

