<div class="single-col title-holder">
	<a href="/"><img src="assets/images/logo/logo.svg"/></a>
	<div>
		<h1><a href="/"><span class="heavier">deep</span>work</a></h1>
		<p>brought to you by <span class="heavier"><a href="https://pudding.cool/">The Pudding</a></span></p>
	</div>
</div>