<div class="single-col title-holder">
	<img src="assets/images/logo/logo.svg"/>
	<div>
		<h1><span class="heavier">deep</span>work</h1>
		<p>brought to you by <span class="heavier">The Pudding</span></p>
	</div>
</div>