<div class="single-col title-holder">
	<img class="banner-click" alt="deepwork logo" src="assets/images/logo/logo.svg"/>
	<div>
		<h1 class="banner-click"><span class="heavier">deep</span>work</h1>
		<p>a satire by <span class="heavier"><a href="https://pudding.cool/">The Pudding</a></span></p>
	</div>
</div>