<div class="story-block">
	<div class="story-text">
		<h2>{{title}}</h2>
		{{#ifEquals this.which 'resume'}}
			{{> story/resume }}
		{{/ifEquals}}
		{{#ifEquals this.which 'photo-studio'}}
			{{> story/photo-studio }}
		{{/ifEquals}}
		{{#ifEquals this.which 'thought-leadership'}}
			{{> story/thought-leadership }}
		{{/ifEquals}}
		{{#ifEquals this.which 'video-call'}}
			{{> story/video-call }}
		{{/ifEquals}}
	</div>
	<div class="story-pic">
		<div class="feature-content" id={{this.which}}>
			{{#ifEquals this.which 'resume'}}
				{{> story/resume-demo }}
			{{/ifEquals}}
			{{#ifEquals this.which 'photo-studio'}}
				{{> story/photo-studio-demo }}
			{{/ifEquals}}
			{{#ifEquals this.which 'thought-leadership'}}
				{{> story/thought-leadership-demo }}
			{{/ifEquals}}
		</div>
	</div>
</div>