<div class="title-block">
	<h1>{{content.title}}</h1>
</div>
<div class="single-col">
	<p>{{content.intro.content.0.text}}</p>
</div>
<div class="single-col">
	<h2>Our Products</h2>
</div>
{{> story/menu-holder }}
<div class="single-col">
	{{#each content.intro.content}}
		{{#if @first}}
		{{else}}
			<p>{{this.text}}</p>
		{{/if}}
	{{/each}}
</div>