<div class="menu-holder">
	{{> story/menu-item illustration="illustrations/Illustration-1.svg"}}
	{{> story/menu-item illustration="illustrations/Illustration-2.svg"}}
	{{> story/menu-item illustration="illustrations/Illustration-3.svg"}}
	{{> story/menu-item illustration="illustrations/Illustration-4.svg"}}
</div>