<div class="menu-item">
	<div class="menu-item-wrapper">
		<div class="price-holder">
			<h3 class="package all-caps">Entry Level</h3>
			<p class="price">$29</p>
			<p class="duration">/month</p>
		</div>
		<div class="menu-pic" style="background-image:url(https://www.fillmurray.com/350/200
)"></div>
		<div class="menu-descrip">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
			</p>
		</div>
		<div class="menu-button">
			<button class="all-caps">More About Entry Level</button>
		</div>
	</div>
</div>