<div class="menu-holder">
	{{> story/menu-item illustration="illustrations/Illustration-1.svg" content=content.resume which="resume" price="9" duration="month"}}
	{{> story/menu-item illustration="illustrations/Illustration-2.svg" content=content.photo which="photo-studio" price="19" duration="month"}}
	{{> story/menu-item illustration="illustrations/Illustration-3.svg" content=content.thought-leadership which="thought-leadership" price="0.25" duration="quarter hour"}}
	{{> story/menu-item illustration="illustrations/Illustration-4.svg" content=content.video-call which="video-call" price="29" duration="month"}}
</div>