<div class="menu-holder">
	{{> story/menu-item illustration="illustrations/Illustration-1-alt.svg" title=content.resume.title which="resume" price="9" duration="month"
	summary="Bulk up your resume with some actually relevant experience."}}
	{{> story/menu-item illustration="illustrations/Illustration-2-alt.svg" title=content.photo.title which="photo-studio" price="19" duration="month"
	summary="Ever thought your face might be what's stopping you from getting a job? We have."}}
	{{> story/menu-item illustration="illustrations/Illustration-3-alt.svg" title=content.thought-leadership.title which="thought-leadership" price="0.25" duration="quarter hour"
	summary="Fresh out of career-building hot takes? We've got loads."}}
	{{> story/menu-item illustration="illustrations/Illustration-4-alt.svg" title=content.video-call.title which="video-call" price="29" duration="month"
	summary="Imagine attending your video interview with confidence. We can get you close."}}
</div>