<div class="menu-holder">
	{{> story/menu-item illustration="illustrations/Illustration-1.svg" content=content.resume which="resume"}}
	{{> story/menu-item illustration="illustrations/Illustration-2.svg" content=content.photo which="photo-studio"}}
	{{> story/menu-item illustration="illustrations/Illustration-3.svg" content=content.thought-leadership which="thought-leadership"}}
	{{> story/menu-item illustration="illustrations/Illustration-4.svg" content=content.video-call which="video-call"}}
</div>