<div class="photo-studio-main"></div>
<div class="demo-body photo-studio-controls" id="studioA">
	<div class="photo-selecter">
		<h3>Choose a Photo</h3>
		<input type="range" class="photo-select"/>
		<div class="photo-grid">
		</div>
	</div>
	{{> story/input steps="8" id="gender" zero="More Masculine" maxVal="More Feminine" value="4"}}
	{{> story/input steps="8" id="age" zero="Younger" maxVal="Older" value="4"}}
	{{> story/input steps="8" id="beauty" zero="Homelier" maxVal="More Attractive" value="4"}}
</div>