<div class="photo-studio-holder">	
	<div class="photo-studio-container" id="studio-a-container">
		{{> story/photo-demo-a }}
	</div>
	<div class="photo-studio-container" id="studio-b-container">
		{{> story/photo-demo-b }}
	</div>
	<div class="button-holder">
		<button id="A">A</button>
		<button id="B">B</button>
	</div>
</div>