<div class="photo-studio-holder">	
	<div class="photo-studio-container" id="studio-b-container">
		<div class="photo-studio-main" role="img" aria-label="A photo of a person that looks like the two selected people blended together according to the settings below."></div>
		<div class="demo-body photo-studio-controls">
			<div class="photo-selecter">
				<h3>Mix Your Pics</h3>
				<div id="pic-mix"></div>
				<h3>Photo A</h3>
				<div id="studioB1">
					<div class="photo-select"></div>
					<div class="photo-grid">
					</div>
				</div>
				<h3>Photo B</h3>
				<div id="studioB2">
					<div class="photo-select"></div>
					<div class="photo-grid">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>