<div class="photo-studio-holder">	
	<div class="photo-studio-container" id="studio-a-container">
		<div class="photo-studio-main" role="img" aria-label="A photo of a person with their qualities altered according to the settings below."></div>
		<div class="demo-body photo-studio-controls" id="studioA">
			<div class="photo-selecter">
				<h3>Choose a Photo</h3>
				<div class="photo-select"></div>
				<div class="photo-grid">
				</div>
			</div>
			<div id="pos_gender"></div>
			<div id="pos_age"></div>
			<div id="pos_beauty"></div>
		</div>
	</div>
</div>