<div class="demo-header resume-controls">	
	<div>
		{{> story/combo-box id="jobSelection" opts=jobs }}
	</div>
	<button class="circle-icon-btn">
		<img inline src='repeat.svg'>
	</button>
</div>
<div class="demo-body">

</div>