<div class="review">
	<div class="stars">
		<img inline src='star.svg'>
		<img inline src='star.svg'>
		<img inline src='star.svg'>
		<img inline src='star.svg'>
		<img inline src='star.svg'>
	</div>
	<h3>{{this.title}}</h3>
	<p>{{this.content}}</p>
	<p class="author">{{this.author}}</p>
	<p class="location">{{this.location}}</p>
</div>