<div class="deepwork-social">
	<div class="social-icon">
		<img inline src='circle.svg'>
 	</div>
 	<div class="social-content">
 		<p>Your Hot Takes</p>
		<p>{{content}}</p>
		<div class="impact-icons">
			<img inline src='thumbs-up.svg'>
			<span>{{randomNumber 100}}</span>
			<img inline src='repeat.svg'>
			<span>{{randomNumber 100}}</span>
		</div>
	</div>
</div>