<div class="demo-header">	
	{{> story/combo-box id="influencerA" opts=influencers }}
	<p class="all-caps">plus</p>
	{{> story/combo-box id="influencerA" opts=influencers }}
</div>
<div class="demo-body">
	{{#each content.thought-leadership.content}}
		{{> story/social content=this}}
	{{/each}}
</div>