<div class="vid">
	<div class="video-header">
		<div>
			<img inline src='volume-1.svg'>
		</div>
		<div>
			<p>Züüm</p>
		</div>
		<div>
			<div class="fake-button">
				<p>Leave</p>
			</div>
		</div>
	</div>
	<div id="video-holder">

	</div>
	<div class="reactions">
		<div>
			<button data-item="shock">In this economy?</button>
			<button data-item="laugh">Love that, sir!</button>
			<button data-item="anger">*Berate unionisers*</button>
		</div>
	</div>
	<div class="video-buttons">
		<div class="icon-button">
			<img inline src='mic.svg'>
			<p>Mute</p>
		</div>
		<div class="icon-button">
			<img inline src='video-off.svg'>
			<p>Stop Video</p>
		</div>
		<div class="icon-button">
			{{!TO DO -- Replace with emoji}}
			<img inline src='heart.svg'>
			<p>React</p>
		</div>
	</div>
</div>