<div class="vid">
	<div class="video-header">
		<div>
			<img inline src='volume-1.svg'>
		</div>
		<div>
			<p>Züüm</p>
		</div>
		<div>
			<div class="fake-button">
				<p>Leave</p>
			</div>
		</div>
	</div>
	<div class="video-holder">
		<video autoplay muted loop width="100%">
		    <source src="/assets/videos/placeholder.mp4"
		            type="video/mp4">
		    Sorry, your browser doesn't support embedded videos.
		</video>
	</div>
	<div class="reactions">
		<div>
			<button>In this economy?</button>
			<button>Love that, sir!</button>
			<button>*Berate unionisers*</button>
		</div>
	</div>
	<div class="video-buttons">
		<div class="icon-button">
			<img inline src='mic.svg'>
			<p>Mute</p>
		</div>
		<div class="icon-button">
			<img inline src='video-off.svg'>
			<p>Stop Video</p>
		</div>
		<div class="icon-button">
			{{!TO DO -- Replace with emoji}}
			<img inline src='heart.svg'>
			<p>React</p>
		</div>
	</div>
</div>